<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<header th:replace="admin/fragments/header::header-fragment"></header>
<body class="hold-transition sidebar-mini">
<link th:href="@{/admin/plugins/editormd/css/editormd.css}" rel="stylesheet"/>
<link th:href="@{/admin/plugins/tagsinput/jquery.tagsinput.css}" rel="stylesheet"/>
<link th:href="@{/admin/plugins/select2/select2.css}" rel="stylesheet"/>
<div class="wrapper">
    <!-- 引入页面头header-fragment -->
    <div th:replace="admin/fragments/header::header-nav"></div>
    <!-- 引入工具栏sidebar-fragment -->
    <div th:replace="admin/fragments/sidebar::sidebar-fragment(${path})"></div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
            </div><!-- /.container-fluid -->
        </div>
        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">Post an article</h3>
                    </div>
                    <div class="card-body">
                        <!-- Several basic input boxes, input boxes such as name and category -->
                        <form id="blogForm" onsubmit="return false;">
                            <div class="form-group" style="display:flex;">
                                <input type="hidden" id="blogId" name="blogId"
                                       th:value="${article!=null and article.id!=null }?${article.id}: 0">
                                <input type="text" class="form-control col-sm-6" id="blogName" name="blogName"
                                       placeholder="*Please enter the title of the article (required)"
                                       th:value="${article!=null and article.title!=null }?${article.title}:''"
                                       required="true">
                                &nbsp;&nbsp;
                                <input type="text" class="form-control" id="blogTags" name="blogTags"
                                       placeholder="Please enter the article tag"
                                       th:value="${tags!=null }?${tags}:''"
                                       style="width: 100%;">
                            </div>
                            <div class="form-group" style="display:flex;">
                                <input type="text" class="form-control col-sm-6" id="blogSubUrl"
                                       name="blogSubUrl"
                                       th:value="${article!=null and article.subUrl!=null }?${article.subUrl}:''"
                                       placeholder="Please enter a custom path, such as: springboot-mybatis, the default is id">
                                &nbsp;&nbsp;
                                <select class="form-control select2" style="width: 100%;" id="blogCategoryId"
                                        data-placeholder="Please select a category...">
                                    <th:block th:if="${null == categories}">
                                        <option value="0" selected="selected">default category</option>
                                    </th:block>
                                    <th:block th:unless="${null == categories}">
                                        <th:block th:each="category: ${categories}">
                                            <option th:value="${category.id}" th:text="${category.name}"
                                                    th:selected="${article!=null and article.category.id!=null and article.category.id==category.id} ?true:false">
                                                >
                                            </option>
                                        </th:block>
                                    </th:block>
                                </select>
                            </div>
                            <div class="form-group" id="blog-editormd">
                                <textarea style="display:none;"
                                          th:utext="${article!=null and article.content !=null}?${article.content}:''"></textarea>
                            </div>
                            <div class="form-group">
                                <!-- button -->
                                &nbsp;<button class="btn btn-info float-right" style="margin-left: 5px;"
                                              id="confirmButton">Save article
                            </button>&nbsp;
                                &nbsp;<button class="btn btn-secondary float-right" style="margin-left: 5px;"
                                              id="cancelButton">Return to the list of articles
                            </button>&nbsp;
                            </div>
                        </form>
                    </div>

                </div>
            </div><!-- /.container-fluid -->
        </div>
        <div class="content">
            <!-- Modal box (Modal) -->
            <div class="modal fade" id="articleModal" tabindex="-1" role="dialog" aria-labelledby="articleModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h6 class="modal-title" id="articleModalLabel">Complete information</h6>
                        </div>
                        <div class="modal-body">
                            <form onsubmit="return false;">
                                <div class="form-group">
                                    <div class="col-sm-4">
                                        <th:block th:if="${article == null}">
                                            <img id="blogCoverImage" src="/admin/dist/img/img-upload.png"
                                                 style="height: 64px;width: 64px;">
                                        </th:block>
                                        <th:block th:unless="${article == null}">
                                            <img id="blogCoverImage" th:src="${article.coverImage}"
                                                 style="width:160px ;height: 120px;display:block;">
                                        </th:block>
                                    </div>
                                </div>
                                <br>
                                <div class="form-group">
                                    <div class="col-sm-4">
                                        <button class="btn btn-info" style="margin-bottom: 5px;" id="uploadCoverImage">
                                            <i class="fa fa-picture-o"></i>&nbsp;Upload cover
                                        </button>
                                        <button class="btn btn-secondary" style="margin-bottom: 5px;"
                                                id="randomCoverImage"><i
                                                class="fa fa-random"></i>&nbsp;Random cover
                                        </button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Article status:&nbsp;</label>
                                    <input name="blogStatus" type="radio" id="publish"
                                           checked=true
                                           th:checked="${article == null||(article != null and article.status != null and article.status==true)} ?true:false"
                                           value="1"/>&nbsp;Post&nbsp;
                                    <input name="blogStatus" type="radio" id="draft" value="0"
                                           th:checked="${article!=null and article.status!=null and article.status==false} ?true:false"/>&nbsp;draft&nbsp;
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Enable comments:&nbsp;</label>
                                    <input name="enableComment" type="radio" id="enableCommentTrue" checked=true
                                           th:checked="${article == null||(article!=null and article.enableComment!=null and article.enableComment==true)} ?true:false"
                                           value="1"/>&nbsp;Yes&nbsp;
                                    <input name="enableComment" type="radio" id="enableCommentFalse" value="0"
                                           th:checked="${article!=null and article.enableComment!=null and article.enableComment==false} ?true:false"/>&nbsp;No&nbsp;
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary" id="saveButton">Confirm</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.modal -->
        </div>
    </div>
    <!-- /.content-wrapper -->
    <!-- Introduce footer-fragment -->
    <div th:replace="admin/fragments/footer::footer-fragment"></div>
</div>
<!-- jQuery -->
<script th:src="@{/admin/plugins/jquery/jquery.min.js}"></script>
<!-- jQuery UI 1.11.4 -->
<script th:src="@{/admin/plugins/jQueryUI/jquery-ui.min.js}"></script>
<!-- Bootstrap 4 -->
<script th:src="@{/admin/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/admin/dist/js/adminlte.min.js}"></script>
<!-- editor.md -->
<script th:src="@{/admin/plugins/editormd/editormd.min.js}"></script>
<!-- tagsinput -->
<script th:src="@{/admin/plugins/tagsinput/jquery.tagsinput.min.js}"></script>
<!-- Select2 -->
<script th:src="@{/admin/plugins/select2/select2.full.min.js}"></script>
<!-- sweetalert -->
<script th:src="@{/admin/plugins/sweetalert/sweetalert.min.js}"></script>
<!-- ajaxupload -->
<script th:src="@{/admin/plugins/ajaxupload/ajaxupload.js}"></script>
<script th:src="@{/admin/dist/js/public.js}"></script>
<script th:src="@{/admin/dist/js/edit.js}"></script>
</body>
</html>
