<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="blog/fragments/header::head-fragment"></head>
<body id="blog">
<div th:replace="blog/fragments/header::nav-fragment"></div>
<div th:replace="blog/fragments/header::header-fragment"></div>
<div class="content">
    <div id="container-open-source">
        <section class="jumbotron">
            <div class="container">
                <div id="jumbotron-meta-info">
                    <h1>Classification and labeling</h1>
                    <span class="meta-info">
                            Total&nbsp;
                            <span class="repo-count badge" th:text="${#lists.size(categories)}">1</span>&nbsp;category entries and&nbsp;<span
                            class="repo-count badge">1</span>&nbsp;tag
                    </span>
                </div>
            </div>
        </section>
        <section class="container">
            <div class="repo-list row">
                <div class="col-md-8">
                    <th:block th:if="${null != categories}">
                        <th:block th:each="category: ${categories}">
                            <div class="col-md-6 card text-center">
                                <div class="thumbnail">
                                    <div class="card-image"
                                         th:style="'background:url(' + @{(${category.icon})} +');background-repeat:no-repeat;'">
                                        <div class="card-image-cell">
                                            <h3 class="card-title">
                                                <a th:href="@{'/category/' + ${category.name}}">
                                                    <th:block th:text="${category.name}"></th:block>
                                                </a>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </th:block>
                </div>
                <div class="col-md-4">
                    <h3 class="sidebar-title">Label bar</h3>
                    <div id="blog-categories">
                        <ul class="list-group">
                            <!--                            <th:block th:if="${null != hotTags}">-->
                            <!--                                <th:block th:each="hotTag: ${hotTags}">-->
                            <!--                                    <li class="list-group-item"><a th:href="@{'/tag/' + ${hotTag.tagName}}">-->
                            <!--                                        <th:block th:text="${hotTag.tagName}"></th:block>-->
                            <!--                                        <span class="badge" th:text="${hotTag.tagCount}">1</span>-->
                            <!--                                    </a></li>-->
                            <!--                                </th:block>-->
                            <!--                            </th:block>-->
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</body>
<div th:replace="blog/fragments/footer::footer"></div>
</html>